# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.venv

# Django
*.log
db.sqlite3
staticfiles/
local_data.json

# Media
media/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Database migration fixtures
local_data*.json
portfolio_data.json
